<h1><%=@movie_details.title%></h1>
<h2>Please Enter Viewing Party Information Here</h2>

<%= form_with url:'/movie_party/new', method: :post, local: true do |f| %>
    <%= f.label :duration, "Duration In Minutes:" %>
    <%= f.text_field :duration, value: "#{@movie_details.runtime}" %>
    <br>
    <br>
    <%= f.label :time, "Time:" %>
    <%= f.datetime_select :time, ampm: true  %>
    <br>
    <br>

    <% current_user.friends.each do |friend| %>
      <%= f.label :friend_username, "#{friend.username}:", :value => friend.id %>
      <%= f.check_box :friend_username, {:multiple => true}, friend.id %>
    <br>
    <% end %>
    <%= f.submit "Create" %>
<% end %>
